@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(to right, #272525, #292c2a);
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0, 0, 10px, black;
}
#err {
    width: 100%;
    top: 50%;
    text-align: center;
    color: white;
    position: fixed;
    top: 50%;
}