@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(to right, #272525, #292c2a);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.child {
    text-align: center;
    color: white;
}
#version {
    color: white;
    text-align-last: center;
}
